p{
    position: relative;
    animation-name:one;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes one {
    0%{
        background-color: red;
        left: 0px;
        right: 0px;
    }
    50%{
        background-color: red;
        left: 50px;
        right: 50px;
    }
    100%{
        background-color: red;
        left: 100px;
        right: 100px;
    }
}